<!-- Products Start -->
<div class="container-fluid about py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="color-primary font-secondary">Menu & Pricing</h2>
            <h1 class="display-4 text-uppercase">Explore Our Cakes</h1>
        </div>
        <div class="tab-class text-center">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="/assets/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark color-primary p-2 m-0">$99.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start background-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Birthday Cake</h5>
                                    <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="/assets/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark color-primary p-2 m-0">$99.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start background-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Birthday Cake</h5>
                                    <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="/assets/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark color-primary p-2 m-0">$99.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start background-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Birthday Cake</h5>
                                    <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="/assets/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark color-primary p-2 m-0">$99.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start background-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Birthday Cake</h5>
                                    <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="/assets/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark color-primary p-2 m-0">$99.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start background-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Birthday Cake</h5>
                                    <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="/assets/cake-1.jpg" alt="" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark color-primary p-2 m-0">$99.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start background-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Birthday Cake</h5>
                                    <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="/assets/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark color-primary p-2 m-0">$99.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start background-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Wedding Cake</h5>
                                    <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="/assets/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark color-primary p-2 m-0">$99.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start background-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Wedding Cake</h5>
                                    <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex h-100">
                                <div class="flex-shrink-0">
                                    <img class="img-fluid" src="/assets/cake-2.jpg" alt="" style="width: 150px; height: 85px;">
                                    <h4 class="bg-dark color-primary p-2 m-0">$99.00</h4>
                                </div>
                                <div class="d-flex flex-column justify-content-center text-start background-secondary border-inner px-4">
                                    <h5 class="text-uppercase">Wedding Cake</h5>
                                    <span>Ipsum ipsum clita erat amet dolor sit justo sea eirmod diam stet sit justo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->